###> IntelliJ ###
/.idea
###< IntelliJ ###

###> VSCODE
/.vscode
###< VSCODE ###

###> Composer ###
/vendor/
###< Composer ###

###> phpunit/phpunit ###
/.phpunit.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
